<article class="course">
    <img src="{{ course.data.mainImage }}" alt="Course image">
    <h3 class="course__title"><a href="{{ course.url }}" title="Link to {{ course.data.title }}">{{ course.data.title }}</a></h3>
    <p class="course__description">{{ course.data.subtitle }}</p>
    <a class="button course__button" href="{{ course.url }}" title="Link to {{ course.data.title }}">Learn More &raquo;</a>
</article>